<%- include('../partials/header') %>

<h2 class="my-hikes-head">My completed Fire Towers</h2>
<table id="my-firetower-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Date Completed</th>
        </tr>
    </thead>
    <tbody>

    <% firetower.forEach(function(f) { %>
        <tr>
            <td> <%= f.name %></td>
            <td><%= f.region %></td>
            <td> <%= f.dateCompleted.toLocaleDateString() %></td>
        </tr>
        <% }); %>
</tbody>
</table>


<br> <br>



<h2 class="my-hikes-head">My completed Hikes</h2>
<table id="my-hike-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Length</th>
            <th>Elevation Gain</th>
            <th>Route Type</th>
            <th>Difficulty Level</th>
        </tr>
    </thead>
    <tbody>
        <% trails.forEach(function(t) { %>
            <tr>
                <td> <%= t.trailName %> </td>
                <td> <%= t.length %> </td>
                <td> <%= t.elevationGain %> </td>
                <td> <%= t.routeType %> </td>
                <td> <%= t.difficultyLevel %> </td>
            </tr>
        <% }); %>
    </tbody>
</table>



<%- include('../partials/footer') %>
