//my hikes page with list of completed hikes and fire towers
<%- include('../partials/header') %>

<h2>My completed Fire Towers</h2>
<table id="firetower-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Date Completed</th>
        </tr>
    </thead>
    <tbody>

    <% fireTower.forEach(function(f) { %>
        <tr>
            <td> <%= f.name %></td>
            <td><%= f.region %></td>
            <td> <%= f.dateCompleted %></td>
        </tr>
        <% }); %>
</tbody>
</table>

<br>

<h2>My completed Hikes</h2>
<table id="hike-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Length</th>
            <th>Elevation Gain</th>
            <th>Route Type</th>
            <th>difficulty level</th>
        </tr>
    </thead>
    <tbody>

    <% trail.forEach(function(t) { %>
        <tr>
            <td> <%= t.trailName %> </td>
            <td> <%= t.length %></td>
            <td><%= t.elevationGain %></td>
            <td><%= t.routeType %></td>
            <td><%= t.difficultyLevel %></td>
        </tr>
        <% }); %>
</tbody>
</table>

<br>



<%- include('../partials/footer') %>