<%- include('../partials/header') %>

<section id="show-page">
<div>Trail Picture</div>
<div>Trail Name:</div>
<div><%= trail.trailName %></div>
<div> Length:</div>
<div><%= trail.length %></div>
<div>Elevation Gain: </div>
<div><%= trail.elevationGain %></div>
<div>Route Type: </div>
<div><%= trail.difficultyLevel %></div>
</section>

<br><br>

















<%- include('../partials/footer') %>