<%- include('../partials/header') %>

<% if(user) { %>
  <form  method="POST" action="/trails/<%= trail._id %>/completed-hike/user/<%= user._id %>" >
      <input type="hidden"  value="extra_submit_value">
      <button id="complete" type="submit" name="submit_param" value="submit_value" class="link-button">
        Add this hike to your profile! </button>
    </form>
  
    <% } %>
  
  <br><br>

<img id="mountain-image" src="<%= trail.image%>" alt="Trail Image">
<br> 
<section id="detail-table">
<table>
    <tr>
<td >Trail Name:</td>
<td><%= trail.trailName %></td>
</tr>
<tr>
<td> Length:</td>
<td><%= trail.length %></td>
</tr>
<tr>
<td  >Elevation Gain: </td>
<td><%= trail.elevationGain %></td>
</tr>
<tr>
<td>Route Type: </td>
<td><%= trail.routeType %></td>
</tr>
<tr>
<td>Difficulty Level: </td>
<td><%= trail.difficultyLevel %></td>
</tr>
</table>
</section>

<br><br>




<% if (user) { %>
    <form id="add-review-form" method="POST" action="/trails/<%= trail._id %>/reviews">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
  <% } %>

  <% if (trail.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
    
        <% let total = 0 %>
        <% trail.reviews.forEach(function(t) { %>
          <tr>
            <td class="review-user">
              <img alt="avatar" src="<%= t.userAvatar %>" referrerpolicy="no-referrer" >
              <%= t.userName %>
            </td>
            <td><%= t.createdAt.toLocaleDateString() %></td>
            <td><%= t.content %></td>
            <td>
              <%= t.rating %>
              </td>
              <td>
              <% if (user?._id.equals(t.user)) { %>
                <form action="/reviews/<%= t._id %>?_method=DELETE" method="POST">
                  <button type="submit">delete</button>
                </form>
              <% } %>
            </td>
          </tr>
          <% total += t.rating %>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><strong><%= (total / trail.reviews.length).toFixed(1) %></strong></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>
















<%- include('../partials/footer') %>