<%- include('../partials/header') %>


<h1>Weather Information</h1>

<% if (weatherData) { %>
    <p>Time: <%= formatTime(weatherData.current.dt) %></p>
    <p>Temperature: <%= weatherData.current.temp %> &deg;F</p>
    <p>Real Feel: <%= weatherData.current.feels_like %> &deg;F</p>
    <p>Sunrise: <%= formatTime(weatherData.current.sunrise) %>AM</p>
    <p>Sunset: <%= formatTime(weatherData.current.sunset) %>PM</p>
    
  
     <img id="weather" src="<%= mapTilesUrl %>" alt="Weather Map">
<% } else { %>
    <p>No weather data available</p>
<% } %>

<% function formatTime(timestamp) { %>
    <% const date = new Date(timestamp * 1000); %>
    <% const hours = date.getHours(); %>
    <% const minutes = "0" + date.getMinutes(); %>
    <% const formattedTime = hours + ':' + minutes.substr(-2); %>
    <%= formattedTime %>
<% } %>




<%- include('../partials/footer') %>