<%- include('../partials/header') %>


<h1>Weather Information</h1>

<% if (weatherData) { %>
    <p>Time: <%= weatherData.current.dt %></p>
    <p>Temperature: <%= weatherData.current.temp %> &deg;F</p>
    <p>Real Feel: <%= weatherData.current.feels_like %> &deg;F</p>
    <p>Sunrise: <%= weatherData.current.sunrise %></p>
    <p>Sunset: <%= weatherData.current.sunset %></p>
    <p>Visibility: <%= weatherData.current.visibility %></p>
    
<% } else { %>
    <p>No weather data available</p>
<% } %>



<%- include('../partials/footer') %>